src/main/app/get-shoppingcart.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="get-shoppingcartFlow">
    	<flow-ref name="jwt-authenticationFlow" doc:name="Ref: JWT Authentication"/>
        <message-filter onUnaccepted="jwt-parse-exit-flow" doc:name="Filter If JWT Check Fails">
            <expression-filter expression="#[flowVars.jwtCheckStatus]" nullReturnsTrue="true"/>
        </message-filter>
    	<objectstore:contains config-ref="ObjectStore_Connector" key="#[flowVars.shoppingCartId]" doc:name="Contains shopping cart"/>
        <choice doc:name="Does shopping cart exist?">
            <when expression="#[payload == true]">
                <objectstore:retrieve config-ref="ObjectStore_Connector" key="#[flowVars.shoppingCartId]" doc:name="Retrieve shopping cart"/>
                <dw:transform-message doc:name="Response Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>

                </dw:transform-message>

            </when>
            <otherwise>
                <dw:transform-message doc:name="Status 404">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	error: "Shopping Cart not found"	
}]]></dw:set-payload>
                    <dw:set-property propertyName="http.status"><![CDATA[%dw 1.0
%output application/java
---
404]]></dw:set-property>
                </dw:transform-message>

            </otherwise>
        </choice>
    </flow>
</mule>
