src/main/app/common/error-message-transformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="error-message-transformerFlow">
        <dw:transform-message doc:name="Transform Error Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	errorType	:	flowVars.errorType,
	message		:	flowVars.message
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="error message : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
